@using HotelSystem.MVC.Models.Hotel
@model HotelViewModel

<h2>@Model.Name</h2>
<dl class="row">
    <dt class="col-sm-3">Адрес</dt>
    <dd class="col-sm-9">@Model.Address</dd>

    <dt class="col-sm-3">Град</dt>
    <dd class="col-sm-9">@Model.City</dd>

    <dt class="col-sm-3">Рейтинг</dt>
    <dd class="col-sm-9">@Model.StarRating</dd>

    <dt class="col-sm-3">Телефон</dt>
    <dd class="col-sm-9">@Model.PhoneNumber</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Назад</a>
<a asp-action="Edit" asp-route-id="@Model.HotelId" class="btn btn-warning">Редактирай</a>